/* You can add global styles to this file, and also import other style files */
body {
  background: url(assets/emove-bg.png) no-repeat 50% 15% fixed;
  background-position-y: 3.5rem;
}

.container {
  padding-top: 2%;
  padding-bottom: 7%;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}
