<form class="my-2 my-sm-0"
      ngClass="{{inline ? 'form-inline' : ''}}">
  <div class="form-group">
    <input [(ngModel)]="tokenCreation.emailAddress"
           type="email"
           class="form-control mr-sm-2"
           name="emailAddress"
           aria-describedby="emailHelp"
           placeholder="{{'common.fields.emailAddress.placeholder' | translate}}">
  </div>
  <div class="form-group">
    <input [(ngModel)]="tokenCreation.password"
           type="password"
           class="form-control mr-sm-2"
           name="password"
           placeholder="Password">
  </div>
  <div class="form-check">
    <input [(ngModel)]="tokenCreation.persistent"
           type="checkbox"
           class="form-check-input mr-sm-2"
           name="rembemberMe{{id}}"
           id="rembemberMe{{id}}">
    <label class="form-check-label"
           for="rembemberMe{{id}}"
           [translate]="'common.fields.rememberMe'">
    </label>
  </div>
  <div *ngIf="inline"
       class="btn-group"
       role="group">
    <button (click)="createToken()"
            type="submit"
            class="btn btn-outline-success my-2 my-sm-0"
            [attr.disabled]="!completed ? true : null"
            [translate]="'login.title'">
    </button>
    <div class="btn-group"
         role="group">
      <button id="btnGroupDrop{{id}}"
              type="button"
              class="btn btn-outline-success dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
      </button>
      <div class="dropdown-menu"
           style="right: 0; left: auto;"
           [attr.aria-labelledby]="'btnGroupDrop' + id">
        <button class="dropdown-item"
                data-toggle="modal"
                data-target="#exampleModal"
                [translate]="'registration.title'">
        </button>
      </div>
    </div>
  </div>
  <button *ngIf="!inline"
          (click)="createToken()"
          type="submit"
          class="btn btn-outline-success my-2 my-sm-0"
          data-dismiss="modal"
          [attr.disabled]="!completed ? true : null"
          [translate]="'login.title'">
  </button>
</form>
