<div class="list-group">
  <a *ngFor="let vehicle of vehicles"
     routerLink="/vehicule/{{vehicle.id}}/nouvelle-location"
     [queryParams]="{
        pickupDate: search.rentalPickupDate,
        duration: search.rentalNumberOfDay
     }"
     class="list-group-item list-group-item-action flex-column align-items-start">
    <div>
      <div class="d-block">
        Marque : {{vehicle.model.make.name}}
      </div>
      <div class="d-block">
        Modèle : {{vehicle.model.name}}
      </div>
      <div class="d-block">
        Type : {{isCar(vehicle.model) ? 'Voiture' : 'Scooter'}}
      </div>
      <div class="d-block">
        Couleur : {{vehicle.color}}
      </div>
    </div>
  </a>
</div>
