<div class="card">
  <div class="card-body">
    <div class="form-group form-row">
      <div class="form-group col-md-3">
        <label for="makeId">
          Identifiant
        </label>
        <input id="makeId"
               value="{{make.id}}"
               class="form-control"
               readonly>
      </div>
    </div>
    <div class="form-group form-row">
      <div class="form-group col-md-3">
        <label for="makeCode">
          Code
        </label>
        <input id="makeCode"
               value="{{make.code}}"
               class="form-control"
               readonly>
      </div>
    </div>
    <hr>
    <div class="form-group form-row">
      <div class="form-group col-md-3">
        <label for="makeName">
          Nom
        </label>
        <input id="makeName"
               value="{{make.name}}"
               class="form-control"
               [(ngModel)]="name">
      </div>
      <div class="form-group col-md-1">
        <label for="makeUpdateBtn">
          &nbsp;
        </label>
        <button id="makeUpdateBtn"
                class="btn btn-primary form-control btn-sm"
                (click)="updateMake()">
          Modifiez
        </button>
      </div>
    </div>
    <hr>
    <div class="form-group form-row">
      <div class="form-group col-md-3">
        <button class="btn btn-danger"
                data-toggle="modal"
                data-target="#makeDeletionConfirm">
          Supprimer
        </button>
      </div>
    </div>
  </div>
</div>
<div id="makeDeletionConfirm"
     class="modal fade"
     tabindex="-1"
     role="dialog">
  <div class="modal-dialog"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          Confirmation de suppression
        </h5>
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
          <span aria-hidden="true">
            &times;
          </span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Veuillez confirmer la suppression.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-primary"
                data-dismiss="modal"
                (click)="deleteMake()">
          Validez
        </button>
        <button type="button"
                class="btn btn-secondary"
                data-dismiss="modal">
          Annulez
        </button>
      </div>
    </div>
  </div>
</div>
